<form action="/login/go" method="POST">
  <label for="username">Username:
    <input name="username" id="username" value="<%= params[:username] %>">
  </label>
  <br>
  <br>
  <label for="password">Password:
    <input name="password" id="password" type="password">
  </label>

  <br>
  <button type="submit">Log In</button>
</form>

<%= @signed_in %>