
<form action="/new/file" method="POST">
  <label for="filename">Add a new document</label>
  <div>
    <input name="filename" id="filename" />
    <input type="submit" value="Create">

  </div>
</form>